SkyHigh/force-app/main/default/flows/Club_Junction_Object_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Is_the_Club_Full</name>
        <label>Is the Club Full</label>
        <locationX>276</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Club_Is_Filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Club is Full</defaultConnectorLabel>
        <rules>
            <name>Club_is_open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varClub.Club_Size__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varClub.Club_Count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creating_Club_Junction</targetReference>
            </connector>
            <label>Club is Open</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClubSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Club__c</object>
        <outputAssignments>
            <assignToReference>varClub.Club_Count__c</assignToReference>
            <field>Club_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClub.Club_Size__c</assignToReference>
            <field>Club_Size__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClub.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClub.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StudentSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Student__c</object>
        <outputAssignments>
            <assignToReference>varStudent.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStudent.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Club Junction Object Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Club Junction Object Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creating_Club_Junction</name>
        <label>Creating Club Junction</label>
        <locationX>462</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Student_Added_To_Club</targetReference>
        </connector>
        <inputAssignments>
            <field>Club__c</field>
            <value>
                <elementReference>varClub.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>varStudent.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Junction_Club__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Club_Is_Filled</name>
        <label>Club Is Filled</label>
        <locationX>270</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Choose_Another_Club</name>
            <fieldText>&lt;p&gt;{!varClub.Name} is full. Please advise {!varStudent.Name} to choose another club to join. If you do want to accommodate the student then please make a new club or increase the size of the club they would like to join. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Student_Added_To_Club</name>
        <label>Student Added To Club</label>
        <locationX>610</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Junction_Club_Created</name>
            <fieldText>&lt;p&gt;{!varStudent.Name} was able to join the club!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_Club_Does_the_Student_Want</name>
        <label>What Club Does the Student Want</label>
        <locationX>175</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_Club_Full</targetReference>
        </connector>
        <fields>
            <name>Student_Counselor_Prompt</name>
            <fieldText>&lt;p&gt;Choose the student and the club they would like to attend!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Student</name>
            <choiceReferences>StudentSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Student</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Clubs</name>
            <choiceReferences>ClubSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Clubs</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>What_Club_Does_the_Student_Want</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varClub</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Club__c</objectType>
    </variables>
    <variables>
        <name>varStudent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student__c</objectType>
    </variables>
</Flow>
