SkyHigh/force-app/main/default/flows/Create_Class_Junction_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Is_Class_Full</name>
        <label>Is Class Full?</label>
        <locationX>367</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Student_Not_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Class is Full</defaultConnectorLabel>
        <rules>
            <name>Class_is_Not_Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varClass.Class_Size__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varClass.Class_Count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Class_Junction_Object</targetReference>
            </connector>
            <label>Class is Not Full</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClassSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Class__c</object>
        <outputAssignments>
            <assignToReference>varClass.Class_Count__c</assignToReference>
            <field>Class_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClass.Class_Size__c</assignToReference>
            <field>Class_Size__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClass.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClass.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClass.Teacher__c</assignToReference>
            <field>Teacher__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StudentSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Student__c</object>
        <outputAssignments>
            <assignToReference>varStudent.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStudent.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Class Junction Record {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Class Junction Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Class_Junction_Object</name>
        <label>Create Class Junction Object</label>
        <locationX>541</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Student_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>varClass.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>varStudent.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Junction_Class__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Student_Assigned</name>
        <label>Student Assigned</label>
        <locationX>696</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClassHasBeenAssigned</name>
            <fieldText>&lt;p&gt;The {!varStudent.Name} was assigned to {!varClass.Name}! Have a great day!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Student_Not_Assigned</name>
        <label>Student Not Assigned</label>
        <locationX>376</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StudentNotAssigned</name>
            <fieldText>&lt;p&gt;{!varClass.Name} was full. Please let {!varStudent.Name} know. Try to either increase the class size or make a new class.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Which_Class_Is_Being_Assigned</name>
        <label>Which Class Is Being Assigned?</label>
        <locationX>168</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Class_Full</targetReference>
        </connector>
        <fields>
            <name>ClassChoice</name>
            <fieldText>&lt;p&gt;What class would the student like to choose?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Student</name>
            <choiceReferences>StudentSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Student</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Class</name>
            <choiceReferences>ClassSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Class</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Which_Class_Is_Being_Assigned</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>varStudent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student__c</objectType>
    </variables>
</Flow>
